# PostgreSQL
POSTGRES_DB=healthcare
POSTGRES_USER=healthuser
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5433

# RabbitMQ
RABBITMQ_USER=rabbituser
RABBITMQ_PASSWORD=changeme
RABBITMQ_PORT=5673
RABBITMQ_MGMT_PORT=15673

# Spring Boot
SPRING_PORT=9090
JWT_SECRET=change-this-to-a-long-random-secret-in-production

# Python Worker
WORKER_PORT=8001

# Frontend
FRONTEND_PORT=5173
